/*
valkonen
#FCFBF7
rgb(252,251,247)

purppura
#8C003C
rgb(140,0,60)

musta
#02020A
rgb(2,2,10)

sininen
#00B0F0
rgb(0,176,240)

vaalea harmaa
#F2F2F2
rgb(242,242,242)
*/

#header {
    background-color: rgb(140,0,60);

    color: #FCFBF7;

    -webkit-box-shadow: 0px 2px 31px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 31px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 31px -1px rgba(0,0,0,0.75);

    border-bottom: 3px solid rgb(110, 0, 55);

    z-index: 999;
}

#main {
    background-color: #FCFBF7;



}

.fullHeight {
    height: calc(100vh - 2rem);


}

#chatroomContainer {
    background-color: #f2f2f2;


    -webkit-box-shadow: inset 8px 0px 42px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 8px 0px 42px -21px rgba(0,0,0,0.75);
    box-shadow: inset 8px 0px 42px -21px rgba(0,0,0,0.75);
}


.videobox {
    background-color: #000000;
    color: white;

    text-align: center;

    margin: 2rem;

    width: calc(100% - 4rem);
    height: calc(100% - 4rem);


    border-bottom: 3px solid rgb(49, 49, 49);
    border-right: 3px solid rgb(49, 49, 49);

    -webkit-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}


.videoGridX {
    height: 100%;
}

.videoGridY {


}

#chatbox {
    overflow: auto;
}

#chatType {
    background-color: #FCFBF7;
    margin: 1rem;
    border: 1px solid rgba(2, 2, 10, 0.2); /* #02020A 20% */

    -webkit-box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
    -moz-box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
    box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
}

#chatSend {
    background-color: #8C003C;
    color: #FCFBF7;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

#chatText {
    background-color: #FCFBF7;
    border: none;
    height: 100%;
    box-shadow: none;
}

ul {
    margin: 0;

}

li {
    list-style: none;
}

li p {
    overflow: auto;
    word-break: break-all;
}