
html {


}

#header {
    background-color: rgb(164,0,62);

    color: #FCFBF7;

    -webkit-box-shadow: 0px 2px 31px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 31px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 31px -1px rgba(0,0,0,0.75);

    border-bottom: 3px solid rgb(110, 0, 55);

    z-index: 999;


}

#main {
    background-color: #FCFBF7;



}

.fullHeight {
    height: calc(100% + 2rem) !important;


}

#chatroomContainer {
    background-color: #f2f2f2;


    -webkit-box-shadow: inset 8px 0px 42px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 8px 0px 42px -21px rgba(0,0,0,0.75);
    box-shadow: inset 8px 0px 42px -21px rgba(0,0,0,0.75);
}



.videoGridY {
    height: calc(100% + 30px);

}


.test {
    /*background: dodgerblue;*/
    //background: lightblue;


   max-width: 100%;
    color: #cc4b37;

    animation: fade-in 0.3s ease;


}

#addVideo {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 3px dashed #cc4b37;


    height: 11rem;
    width: 11rem;


    transition-duration: 0.3s;

    cursor: pointer;
}


#addVideo:hover {
    background-color: #f2f2f2;


}

#addVideo h1 {

    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 500%;
}


.test video {


    height: 65%;



    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition-duration: 0.5s;


    background-color: #00B0F0;


    -webkit-box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
    -moz-box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
    box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
}



@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0) rotatey(180deg);

    }
    100% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }
}



.me {
    border: 4px solid #00B0F0;
    -webkit-box-shadow: 10px 10px 45px -15px #00B0F0;
    -moz-box-shadow: 10px 10px 45px -15px #00B0F0;
    box-shadow: 10px 10px 45px -15px #00B0F0;
}


/* SANNAN ALUE! */


#chatbox {
    overflow: auto;
}

#chatType {
    background-color: #FCFBF7;

    border: 1px solid rgba(2, 2, 10, 0.2); /* #02020A 20% */

    -webkit-box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
    -moz-box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
    box-shadow: 10px 10px 45px -15px rgba(84,84,84,1);
}

#chatSend {
    background-color: #8C003C;
    color: #FCFBF7;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

#chatText {
    background-color: #FCFBF7;
    border: none;
    height: 100%;
    box-shadow: none;
}

ul {
    margin: 0;

}

li {
    list-style: none;
}

li p {
    overflow: auto;
    word-break: break-all;
}

#userCounter {
    text-align: right;
}

#hangupBtn {
    background-color:#00B0F0;
    color: #FCFBF7;
    width: 2rem;
    height: 2rem;
}